/* body {
  font-family: Overlock, cursive;
} */
nav {
  background-color: #230f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 1em 3em;
  margin-bottom: 1em;
  color: white;
}

nav a {
  text-decoration: none;
  color: white;
}
a:link {
  text-decoration: none;
}

h4 {
  margin: 0;
  font-size: 1em;
  text-align: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  text-decoration: none;
}

article div {
  width: 150px;
  padding: 1em;
  background-color: rgb(255, 252, 242);
  text-decoration: none;
}

.Adventures img {
  width: 150px;
}
